<ion-view class="forgot-password-view auth-view" cache-view="false">
  <ion-content has-bouncing="false">
    <div class="row images-row">
      <div class="col">
        <div class="illustration-container">
          <pre-img ratio="_27_20" helper-class="square-image">
            <img class="illustration-image" ng-src="./img/auth/forgot_password_illustration.png" spinner-on-load/>
        	</pre-img>
        </div>
      </div>
    </div>
    <h2 class="forgot-title">Recover your password</h2>
    <div class="row form-row">
      <div class="col">
        <form name="forgot_password_form" class="form-container" novalidate>
          <div class="input-list list list-inset">
            <label class="item item-input">
              <input type="text" placeholder="email" name="email" ng-model="user.email" required>
            </label>
          </div>
          <p ng-show="error" class="message error">{{error}}</p>
          <button type="submit" class="button button-block auth-action-button" ng-click="recoverPassword()" ng-disabled="forgot_password_form.$invalid">
            Recover it
          </button>
        </form>
        <div class="alternative-actions">
          <a class="action-link button button-small button-clear" ui-sref="intro.auth-login()">Log in</a>
          <a class="action-link button button-small button-clear" ui-sref="intro.auth-signup()">Sign up</a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
