<div class="row question-row">
  <div class="col">
    <h2 class="question-title">What are you browsing for?</h2>
    <ion-list class="question-options">
      <ion-radio ng-model="browsing" ng-value="'Woman'">Woman</ion-radio>
      <ion-radio ng-model="browsing" ng-value="'Men'">Men</ion-radio>
      <ion-radio ng-model="browsing" ng-value="'Kids'">Kids</ion-radio>
      <ion-radio ng-model="browsing" ng-value="'Petit'">Petit</ion-radio>
      <ion-radio ng-model="browsing" ng-value="'Plus Size'">Plus Size</ion-radio>
      <ion-radio ng-model="browsing" ng-value="'New In'">New In</ion-radio>
    </ion-list>
  </div>
</div>
