<div class="row images-row">
  <div class="col">
    <div class="illustration-container">
      <pre-img ratio="_21_13" helper-class="square-image">
        <img class="illustration-image" ng-src="./img/walkthrough/learn_illustration.png" spinner-on-load/>
      </pre-img>
    </div>
  </div>
</div>
<div class="row copy-row">
  <div class="col">
    <h1 class="welcome-title">Welcome!</h1>
    <p class="welcome-paragraph">This is an awesome Ionic Theme with feeds and all! <br> C   O  D  E   L   I  S   T   .  C   C</p>
  </div>
</div>
