<div class="row schedules-title-row">
  <div class="col col-80">
    <h4 class="title-name">Schedules</h4>
  </div>
  <div class="col col-20">
    <i class="icon ion-android-time title-icon"></i>
  </div>
</div>
<div class="list schedules-list">
  <div class="item">
    Monday
    <span class="item-note">
      12:00 pm to 10:00 pm
    </span>
  </div>
  <div class="item">
    Tuesday
    <span class="item-note">
      12:00 pm to 10:00 pm
    </span>
  </div>
  <div class="item">
    Wednesday
    <span class="item-note">
      12:00 pm to 10:00 pm
    </span>
  </div>
  <div class="item">
    Thursday
    <span class="item-note">
      12:00 pm to 12:00 am
    </span>
  </div>
  <div class="item">
    Friday
    <span class="item-note">
      12:00 pm to 12:00 am
    </span>
  </div>
  <div class="item">
    Saturday
    <span class="item-note">
      12:00 pm to 12:00 am
    </span>
  </div>
  <div class="item">
    Sunday
    <span class="item-note close-note">
      close
    </span>
  </div>
</div>
<hr class="schedules-divider"/>
<div class="row schedules-title-row">
  <div class="col col-80">
    <h4 class="title-name">Credit card</h4>
  </div>
  <div class="col col-20">
    <i class="icon ion-card title-icon"></i>
  </div>
</div>
<div class="list schedules-list">
  <div class="item">
    Visa - MasterCard
  </div>
</div>
