.forgot-password-view
{
	.illustration-container
	{
	  margin: 12px 28% 0px !important;
	}

	.forgot-title
	{
		margin: 30px 18%;
		color: $auth-color;
		text-align: center;
		font-size: 24px;
	  font-weight: 300;
	  line-height: 28px;
	}

	.auth-action-button
	{
		text-transform: none;
	}
}
