<div class="card-details-container">
  <div class="row">
    <label class="col item item-input item-stacked-label">
      <span class="input-label">Credit Card Number</span>
      <input class="input-data" type="text" ng-model="card.number" placeholder="Required">
    </label>
  </div>
  <div class="row">
    <label class="col item item-input item-stacked-label">
      <span class="input-label">Name on Card</span>
      <input class="input-data" type="text" ng-model="card.full_name" placeholder="Required">
    </label>
  </div>
  <div class="row">
    <label class="col col-50 item item-input item-stacked-label">
      <span class="input-label">Expiration</span>
      <input class="input-data" type="text" ng-model="card.expiration" placeholder="mm/yy">
    </label>
    <label class="col col-50 item item-input item-stacked-label">
      <span class="input-label">CCV</span>
      <input class="input-data" type="text" ng-model="card.ccv" placeholder="Required">
    </label>
  </div>
</div>
