<ion-view class="app-tabbed-view">
  <ion-pane>
    <ion-tabs class="tabbed-navigation tabs-icon-top">
      <ion-tab title="Feed" icon-off="feed-icon" icon-on="feed-icon" ui-sref="main.app.feed.fashion">
        <ion-nav-view name="app-feed"></ion-nav-view>
      </ion-tab>
      <ion-tab title="Search" icon-off="search-icon" icon-on="search-icon" ui-sref="main.app.search">
        <ion-nav-view name="app-search"></ion-nav-view>
      </ion-tab>
      <!-- <ion-tab title="Liked" icon-off="liked-icon" icon-on="liked-icon" ui-sref="main.app.liked()">
        <ion-nav-view name="app-liked"></ion-nav-view>
      </ion-tab> -->
      <ion-tab title="Account" icon-off="account-icon" icon-on="account-icon" ui-sref="main.app.account">
        <ion-nav-view name="app-account"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </ion-pane>
</ion-view>
