<ion-view class="checkout-address-view" cache-view="false">
  <ion-header-bar class="checkout-address-header">
    <div class="buttons">
      <button class="button button-clear cancel-button" ng-click="cancel()">Cancel</button>
    </div>
    <h1 class="title">Shipping Address</h1>
  </ion-header-bar>
  <ion-content class="checkout-address-content" has-bouncing="false">
    <div class="row everything-else-row">
      <div class="col">
        <div ng-if="user_shipping_addresses.length == 0">
          <div class="new-address-button-outer">
            <button class="button button-block new-address-button" ng-click="showNewAddressPopup()">
              New Shipping Address
            </button>
          </div>
        </div>
        <div ng-if="user_shipping_addresses.length > 0">
          <h3 class="shipping-address-title">Select Shipping Address</h3>
          <div class="address-chooser" ng-click="openAddressesPopover($event)">
            <button class="button button-block icon-right addresses-popover-button" ng-class="{'ion-chevron-up': addresses_popover.isShown(), 'ion-chevron-down' : !addresses_popover.isShown()}">
              {{data.selected_address.street || 'Select address'}}
            </button>
          </div>
          <ion-list class="billing-same-as-shipping-option">
            <ion-checkbox ng-model="billing_same_as_shipping_address">Billing Address same as Shipping</ion-checkbox>
          </ion-list>
        </div>

        <div class="address-details-container" ng-show="data.selected_address.street">
          <div class="row">
            <label class="col item item-input item-stacked-label">
              <span class="input-label">Full Name</span>
              <p class="input-data">{{data.selected_address.full_name}}</p>
            </label>
          </div>
          <div class="row">
            <label class="col col-50 item item-input item-stacked-label">
              <span class="input-label">Address</span>
              <p class="input-data">{{data.selected_address.street}}</p>
            </label>
            <label class="col col-50 item item-input item-stacked-label">
              <span class="input-label">Apt/Suite</span>
              <p class="input-data">{{data.selected_address.apt_suite}}</p>
            </label>
          </div>
          <div class="row">
            <label class="col col-50 item item-input item-stacked-label">
              <span class="input-label">City</span>
              <p class="input-data">{{data.selected_address.city}}</p>
            </label>
            <label class="col col-25 item item-input item-stacked-label">
              <span class="input-label">State</span>
              <p class="input-data">{{data.selected_address.state}}</p>
            </label>
            <label class="col col-25 item item-input item-stacked-label">
              <span class="input-label">Zip</span>
              <p class="input-data">{{data.selected_address.postal_code}}</p>
            </label>
          </div>
          <div class="row">
            <label class="col item item-input item-stacked-label">
              <span class="input-label">Phone</span>
              <p class="input-data">{{data.selected_address.phone}}</p>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row actions-row">
      <div class="col">
        <a class="button button-full action-button" ng-click="saveSelectedAddress(data.selected_address)">Save Address & Continue</a>
      </div>
    </div>
  </ion-content>
</ion-view>
