<!-- main.app.feed.fashion -->
<ion-view class="checkout-thanks-view" cache-view="false">
  <ion-header-bar class="checkout-thanks-header">
    <h1 class="title">Checkout</h1>
  </ion-header-bar>
  <ion-content has-bouncing="false" class="checkout-thanks-content">
    <div class="row row-center thanks-row">
      <div class="col">
        <h3 class="thanks-title">Your order is being prepared for shipping!</h3>
        <div class="illustration-container">
          <pre-img ratio="_41_22">
            <img class="illustration-image" ng-src="./img/checkout/checkout_thanks_illustration.png" spinner-on-load/>
          </pre-img>
        </div>
        <div class="ok-button-outer">
          <a class="button button-block ok-button" ui-sref="main.app.feed.fashion">
            Great!
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
